<div class="container mt-5">
  <div class="row">
    <!-- Left side with a big image -->
    <div class="col-lg-6">
      <img src="assets/images/tournament3.jpg" alt="Tournament Image" class="img-fluid img-specific-size">
    </div>
    <!-- Right side with the read-only form -->
    <div class="col-lg-6 ">
      <form class="form p-4 rounded text-light custom-shadow bg-black">
        <div class="form-group">
          <label for="game">Game</label>
          <input type="text" id="game" class="form-control" value="Your Game" readonly>
        </div>
        <div class="form-group">
          <label for="format">Format</label>
          <input type="text" id="format" class="form-control" value="Your Format" readonly>
        </div>
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="text" id="startDate" class="form-control" value="Your Start Date" readonly>
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="text" id="endDate" class="form-control" value="Your End Date" readonly>
        </div>
      </form>
    </div>
  </div>
</div>
