<div class="title-banner">
  <div>
    <button class="btn btn-link position-absolute text-light" style="top: 0; left: 0;" routerLink="/previous-page">
      <i class="fa fa-arrow-left"></i> Volver
    </button>
  </div>
  <div class="mt-3">
    <h1 class="title">EL TORNEO X</h1>
    <nav class="navbar p-0">
      <form class="container-fluid justify-content-start">
        <button [routerLink]="['/tournament/details']" [ngClass]="{ 'btn-clicked': activeButton === 'details' }" class="btn btn-sm btn-outline-primary m-1" type="button" (click)="setActiveButton('details')">Detalles</button>
        <button [routerLink]="['/tournament/bracket']" [ngClass]="{ 'btn-clicked': activeButton === 'bracket' }" class="btn btn-sm btn-outline-primary m-1" type="button" (click)="setActiveButton('bracket')">Bracket</button>
        <button [routerLink]="['/tournament/players']" [ngClass]="{ 'btn-clicked': activeButton === 'players' }" class="btn btn-sm btn-outline-primary m-1" type="button" (click)="setActiveButton('players')">Jugadores</button>
        <button [routerLink]="['/tournament/news']" [ngClass]="{ 'btn-clicked': activeButton === 'news' }" class="btn btn-sm btn-outline-primary m-1" type="button" (click)="setActiveButton('news')">Notificaciones</button>
      </form>
    </nav>
  </div>
</div>



<div class="bg-black min-vh-100 d-flex flex-column">
  <router-outlet></router-outlet>
</div>
