<div class="container mt-5">
  <table class="table table-dark table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th class="col-xs-2">Lugar</th>
        <th class="col-xs-3">Player</th>
        <th class="col-xs-2">Victories</th>
        <th class="col-xs-2">Defeats</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let player of players; index as i">
        <td class="col-xs-3">{{ i + 1 }}</td>
        <td class="col-xs-3"><img src="assets/images/user-icon.png" alt="Player Image" class="img-thumbnail m-r-10"> {{ player.name }}</td>
        <td class="col-xs-2">{{ player.victories }}</td>
        <td class="col-xs-2">{{ player.defeats }}</td>
      </tr>
    </tbody>
  </table>
</div>
